// Text-color
$color-black: #181818;
$color-pink: #B84B83;
$color-white: white;

// font-family:
$ff-ro: 'Roboto', sans-serif;
$ff-mon : "Montserrat",Arial,Helvetica,sans-serif;

// Font-weight
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// Font-size: 
$fs-default: 15px;
$fs-card-title: 11.25px;
$fs-card-text: 23.25px;
$fs-card-foot: 15px;